# Logs
*.log
npm-debug.log*
yarn-error.log

# Dependencies
node_modules/
installed_contracts/

# Coverage
coverage/

# Transpiled files
dist/
build/

# VS Code
.vscode
jsconfig.json

# Misc
.DS_Store
tmp/

# Environment variables
.env
